*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    cursor:pointer;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: fixed;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: rgb(255, 115, 0);
    transition: .5s;
}
.logo{
    font-size: x-large;
    color: white;
    letter-spacing:2px;
    font-weight: 600;
}
.logo span{
    color: rgb(255, 115, 0);
}
.user{
    display: flex;
    gap: 20px;
}
.user button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 17px;
    border-radius: 20px;
}
.user .signup{
    background-color: white;
    color: black;
    font-weight: 600;
}
.user .signup:hover{
    border: 1px solid white;
    background: none;
    color: white;
    transition: .5s;
}
.user .signin:hover{
    background-color: white;
    color: black;
    transition: .5s;
}


.pay{
	height:400px;
	width:700px;
	box-shadow:0px 5px 8px 3px rgb(212, 211, 211);
	background:white;
	display:flex;
	flex-direction:column;
	justify-content: center;
	gap: 30px;
	padding: 0px 30px;
	border-radius: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.input{
	background-color: rgb(240, 240, 240);
	padding: 15px 20px;
	width: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
    color: rgb(39, 39, 39);
}
.input input[type=checkbox]{
	height: 30px;
	width: 30px;
}
.input input[type=checkbox]:hover{
    cursor: pointer;
}
.options{
	display:flex;
	align-items:center;
	justify-content:space-between;
 }

.options button{
	background:transparent;
	border: 1px solid #dbdbdb;
	height: 102px;
 }
.options button img{
	height: 100px;
	width: 140px;
}
.options button:hover{
    background-color: rgb(228, 228, 228);
    transition: .5s;
}
.options button img:hover{
    padding: 4px;
    transition: .5s;
}
 
.main{
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:150px;
	padding-bottom:70px;
	
 }
.confirm{
	width: 165px;
	padding: 12px;
	font-size: large;
	background-color: #ff6b09;
	color: white;
	border: 2px solid #ff6b09;
	border-radius: 5px;
}
.confirm:hover{
    background-color: white;
    color: #ff6b09;
    transition: .5s;
}


footer{
    background-color: black;
    padding: 50px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 100px;
    line-height: 1.6;
}
.about span{
    color: rgb(255, 115, 0);
}
.about{
    color: #ffff;
}
.about h1{
    width: 250px;
    line-height: 3;
}
.about p{
    width: 325px;
    letter-spacing: 1px;
    font-size: large;
}
.product h3, .company h3, .support h3, .s-media h3{
    color: rgb(255, 115, 0);
    font-size: x-large;
    line-height: 3;
}
.product ul li a,.company ul li a, .support a, .s-media ul li a{
    color: white;
    font-size: large;
    line-height: 2.2;
}

.product ul li a:hover,.company ul li a:hover, .support a:hover, .s-media ul li a:hover{
    color: rgb(255, 115, 0);
    transition: .5s;
}
.s-media ul{
    display: flex;
    gap: 10px;
    font-size: x-large;
}
.copyright{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 20, 0);
    color: white;
}
.copyright a{
    color: white;
}
.copyright a:hover{
    text-decoration: underline;
    transition: .5s;
}